.popover {
  position: absolute;
  background: #fff;
  border: 1px solid #e1e1e7;
  border-bottom: 2px solid #e1e1e7;
  border-radius: 0;
  width: 100px;
  padding: 10px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; }
  .popover li {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 12px;
    text-indent: 5px;
    color: black; }
    .popover li:hover {
      background: #F9BF3B;
      color: white;
      font-weight: bold; }

.popover-right {
  margin-left: -100px; }

/**
 * card style
 */
.card {
  border-radius: 2px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  border-left: 0px solid transparent;
  transition: all 0.2s; }
  .card.card-default {
    background: #ffffff;
    border: 1px solid #ebebf2;
    border-bottom: 2px solid #e1e1e7; }
    .card.card-default .title {
      position: relative;
      padding: 5px 3px;
      margin: 0 10px;
      border-bottom: 1px solid #f1f1f5;
      color: #e1e1e7; }
      .card.card-default .title a.options {
        cursor: pointer;
        color: #e1e1e7;
        transition: all 0.2s; }
        .card.card-default .title a.options:hover, .card.card-default .title a.options.active {
          color: #c1c1c7; }
    .card.card-default .body {
      -webkit-user-select: initial;
      padding: 10px; }
      .card.card-default .body::selection {
        background: #fff2a8; }
      .card.card-default .body [contenteditable="true"] {
        background: #fff2a8; }
        .card.card-default .body [contenteditable="true"]:focus {
          background: none; }
        .card.card-default .body [contenteditable="true"]::selection {
          background: #fff2a8; }
  .card.card-in-action {
    border-left: 4px solid #F9BF3B; }
  .card .tabbar {
    padding: 0 2px; }
  .card.card-primary {
    background: #ffffff; }
    .card.card-primary .tabbar {
      background: #4B77BE;
      border-bottom: none; }
      .card.card-primary .tabbar .toolbar {
        border-bottom: none; }
    .card.card-primary .footer {
      text-align: center; }
      .card.card-primary .footer a.btn {
        color: #4B77BE; }

.card-container.rotateX {
  position: relative;
  perspective: 800px; }
  .card-container.rotateX .card {
    transform-style: preserve-3d;
    transition: transform 0.5s; }
    .card-container.rotateX .card .figure {
      backface-visibility: hidden; }
      .card-container.rotateX .card .figure.back {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: rotateX(180deg);
        background: #F32D44;
        color: white;
        text-align: center;
        display: table; }
        .card-container.rotateX .card .figure.back .vert-center {
          padding: 0 20px;
          display: table-cell;
          vertical-align: middle; }
        .card-container.rotateX .card .figure.back h2 {
          margin: 0; }
    .card-container.rotateX .card.flip {
      transform-style: preserve-3d;
      transform: rotateX(180deg); }
      .card-container.rotateX .card.flip * {
        backface-visibility: hidden; }

.typeahead {
  left: 0;
  height: 0;
  overflow: hidden;
  padding: 1px 2px;
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
  margin-top: 10px;
  z-index: 999; }
  .typeahead.block {
    width: 100%; }
  .typeahead.show {
    opacity: 1;
    margin-top: 0;
    height: auto;
    transition: all 0.2s; }
  .typeahead ul.typeahead-list {
    position: relative;
    background: white;
    display: block;
    border: 1px solid #e1e1e7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: default;
    z-index: 1000; }
    .typeahead ul.typeahead-list li {
      cursor: pointer;
      display: block;
      padding: 0 12px;
      height: 35px;
      line-height: 35px; }
      .typeahead ul.typeahead-list li span {
        padding: 6px 0; }
      .typeahead ul.typeahead-list li.active {
        background: #F9BF3B;
        color: white;
        font-weight: bold; }

.toolbar {
  display: block;
  cursor: default;
  margin: 0;
  border-bottom: 1px solid #f1f1f5; }
  .toolbar:before, .toolbar:after {
    clear: both;
    display: block;
    content: ''; }
  .toolbar li {
    display: block;
    cursor: pointer;
    float: left;
    padding: 0;
    width: 38px;
    height: 38px;
    line-height: 35px; }
    .toolbar li button {
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: none;
      background-image: none;
      white-space: nowrap;
      vertical-align: middle;
      width: 100%;
      height: 100%;
      text-align: center;
      background: transparent;
      color: #ccc;
      transition: all 0.2s; }
      .toolbar li button:hover {
        color: #555; }
    .toolbar li:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); }
