<ul class="popover shadow popover-right" ng-if="popover.visible" ng-style="{'left':popover.x, 'top':popover.y}">
    <li ng-click="editNews()">수정</li>
    <li ng-click="deleteNews()">삭제</li>
</ul>
<div id="sub">
    <div class="editor card card-default" ng-repeat="card in editList" ng-animate="{enter:'animate-enter'}" sin-editor footer="true" type="'edit'" value="card"></div>
</div>
<div id="main">
	<div id="sin-editor" class="editor card card-default" sin-editor sin-submit="submit(todo)" footer="true"></div>
    <article class="card-container rotateX" ng-repeat="todo in todos | reverse">
        <div class="card card-default" ng-class="{'flip':todo.readyToDelete, 'card-in-action':todo.edit}">
            <div class="figure">
                <div class="title">
                    <span>{{$index}}</span>
                    <a class="options pull-right" ng-if="!todo.edit" ng-click="popoverToggle($event,todo)">
                        <span class="glyphicons glyphicons-more"></span>
                    </a>
                </div>
                <div class="body" ng-bind-html="todo.trustText"></div>
            </div>
            <div class="figure back">
                <div class="vert-center">
                    <a class="close btn" ng-click="undoDelete(todo)"></a>
                    <span>정말 삭제 하시겠어요?</span>
                    <div class="txt-center">
                        <a class="btn"><h2 class="glyphicons glyphicons-ok-2"></h2></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
	<!--  Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
    <img ngf-src="!files[0].$error && files[0]"> -->


    <!-- <input ng-model="text.value" style="width: 400px;"> -->
    <!-- <input ng-model="hash.typed"> -->
    <!-- http://jsfiddle.net/MWe8U/ -->
    <!-- http://jsfiddle.net/lsiv568/fsfPe/10/ -->
</div>
