<ul class="popover shadow popover-right" ng-if="popover.visible" ng-style="{'left':popover.x, 'top':popover.y}">
	<li ng-click="editNewsStart()">수정</li>
	<li ng-click="deleteNewsStart()">삭제</li>
</ul>


<div id="sub">
	<div class="editor card card-primary" ng-repeat="card in editList" ng-animate="{enter:'animate-enter'}" sin-editor footer="true" type="'edit'" value="card"></div>
</div>


<div id="main">
	<div class="editor card card-default">
		<div class="tabbar">
			<div card-toolbar></div>
		</div>
		<div sin-editor sin-class="body" sin-entries="newses" sin-submit="addNews(text,model)" sin-autofocus="true"></div>
	</div>
	<article class="card-container rotateX" ng-class="{'flatten-3d':news.edit||news.focused}" ng-repeat="news in newses | reverse" ng-if="!news.deleted" ng-animate="{leave:'animate-leave'}">
		<div class="card card-default" ng-class="{'flip':news.readyToDelete, 'card-in-action shadow':news.edit}">
			<div class="figure">
				<div class="title">
					<span>{{$index}}</span>
					<a class="options pull-right" ng-if="!news.edit" ng-click="popoverToggle($event,news)">
						<span class="glyphicons glyphicons-more"></span>
					</a>
					<span ng-if="news.edit" class="pull-right">
                    	<a class="options">
                     	   <span class="glyphicons glyphicons-ok-2"></span>
						</a>
						<a class="options">
							<span class="glyphicons glyphicons-remove-2"></span>
						</a>
					</span>

				</div>
				<div class="body" ng-bind-html="news.trustText" ng-if="!news.edit"></div>
				<div class="body" sin-editor sin-class="" value="news" sinn-submit="editNewsEnd(id, news)" ng-if="news.edit" sin-autofocus="true"></div>
				<div class="comments">
					<ul>
						<li class="comment" ng-repeat="comment in news.comments">
							<figure class="thumbnail">{{comment.name}}</figure>
							<span ng-bind-html="comment.trustContext"></span>
						</li>
					</ul>
					<div sin-editor sin-focused="commentFocused(model)" sin-blured="commentBlured(model)" class="comment-input" sin-entries="news.comments" sin-submit="addComment(text,model)"></div>
				</div>
			</div>
			<div class="figure back">
				<div class="vert-center" ng-class="{'hidden':!news.readyToDelete}">
					<a class="close btn" ng-click="deleteNewsUndo(news)"></a>
					<span>정말 삭제 하시겠어요?</span>
					<div class="txt-center">
						<a class="btn" ng-click="deleteNewsEnd(news)"><h2 class="glyphicons glyphicons-ok-2"></h2></a>
					</div>
				</div>
			</div>
		</div>
	</article>
	<!--  Drop File:
    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
        ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
        accept="image/*,application/pdf" 
        ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
    Files:
    <ul>
        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    </ul>
    Upload Log:
    <pre>{{log}}</pre>
    <img ngf-src="!files[0].$error && files[0]"> -->


	<!-- <input ng-model="text.value" style="width: 400px;"> -->
	<!-- <input ng-model="hash.typed"> -->
	<!-- http://jsfiddle.net/MWe8U/ -->
	<!-- http://jsfiddle.net/lsiv568/fsfPe/10/ -->
</div>